.card-container {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
    padding: 25px;
    margin-top: 25px;
    background-color: #1b3039;
    color: antiquewhite;
    transition: 0.55s;
    animation: ease-in;
}

.img-container img{
    width: 100%;
    overflow: hidden;
    height: 150px;
  object-fit: cover;

}

.card-content {
    justify-content: left;
    margin: 1rem;
    margin-top: 0.5rem;
}

.p {
    margin: 0;
    padding: 0;
}

.card-container:hover {
    /* transform: scale(1.1); */
    box-shadow: rgba(0, 0, 0, 1.80) 0px 3px 8px;
}

.btn-delete {
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: #ffffff;
    background: #f344;
}

.btn-delete:hover {
    transform: scale(1.1);
    background: #f344;

}

.name{
    text-transform: uppercase;
    font-weight: bold;
}

/* ------------contenido de la tarjeta---------------- */
.card-content {
    border-radius: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    /* css grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "icono temperatura"
      "icono viento"
      "footer footer";
  }
  
  .my-card-wind,
  .my-card-lat,
  .my-card-lng {
    color: rgb(255, 255, 255);
    margin: 5px;
  }
  
  .card-icon {
    grid-area: icono;
    max-width: 165px;
  }
  
  .my-card-temp {
    color: #fff;
    font-size: 2em;
    grid-area: temperatura;
    /* flexbox */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ther-img{
    max-width: 40px;
  }
  
  .my-card-wind {
    grid-area: viento;
    /* flexbox */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wind-img{
    max-width: 30px;
  }
  
  .my-card-footer {
    grid-area: footer;
    /* css grid */
    display: grid;
    grid-template-rows: repeat(2, auto);
  
  }